# pre-commit is a tool to perform a predefined set of tasks manually and/or
# automatically before git commits are made.
#
# Config reference: https://pre-commit.com/#pre-commit-configyaml---top-level
#
# Common tasks
#
# - Run on all files:   pre-commit run --all-files
# - Register git hooks: pre-commit install --install-hooks
#
repos:
  # Autoformat: Bash scripts
  - repo: https://github.com/lovesegfault/beautysh
    rev: v6.4.2
    hooks:
      - id: beautysh
        additional_dependencies:
          - setuptools

  # Autoformat: markdown, javascript
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        args:
          - "--trailing-comma=es5"
          - "--print-width=100"

  # Lint
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v10.0.0-rc.2
    hooks:
      - id: eslint
        additional_dependencies:
          - "eslint@^9.26.0"
          - "@eslint/js@^9.26.0"
          - "globals@^16.1.0"

# pre-commit.ci config reference: https://pre-commit.ci/#configuration
ci:
  autoupdate_schedule: monthly
